/*--------- login css ---------*/

.loginBody {
    background: -moz-radial-gradient(circle, #f7f7f7, #d6d6d6);
    background: -webkit-radial-gradient(circle, #f7f7f7, #d6d6d6);
    background: -o-radial-gradient(circle, #f7f7f7, #d6d6d6);
    background: radial-gradient(circle, #f7f7f7, #d6d6d6);
    width: 100%;
    min-height: 100%;
}

.loginTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 100px 0px 30px 0px;
    color: rgb(22, 22, 22);
}

.loginBox {
    width: 300px;
    margin: 0px auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 8px 0px rgb(155, 155, 155);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    padding: 10px 0px;
}

.loginBox label {
    padding: 0px 10px;
}

.loginBox input {
    padding: 0px;
    margin: 8px;
    width: 150px;
    height: 25px;
}

.loginBox .button {
    margin-top: 10px;
    width: 80px;
    border: 1px solid #3f3f3f0e;
    color: #3f3f3f;
}

.loginBox .button:hover {
    background: #e2e2e2;
}


/* sidebar & content */

.menu {
    position: relative !important;
    display: inline-block !important;
    width: 200px !important;
    height: 100vh;
    transform: translateX(0);
    transition: all 0.1s;
}

.bar_btn {
    background-color: #ececec54;
    width: 28px;
    height: 28px;
    text-align: center;
    z-index: 100;
}

.active {
    transform: translateX(-200px);
}

#container {
    overflow: auto;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
    width: calc(100% - 200px);
    background-color: #eeeeee;
    word-wrap: break-word;
    height: 100%;
    display: inline-block !important;
    overflow: auto;
}

.minBodyHeight {
    color: rgb(37, 37, 37);
    min-width: 320px;
    min-height: 930px;
}

.navUserAccount {
    width: 80%;
    font-size: 0.8rem;
    padding: 5px;
    text-align: right;
    position: absolute;
    right: 5px;
    top: 5px;
}


/*--------- footer css ---------*/

footer {
    background-color: #4173ad;
    padding: 5px 0px;
    margin: 0px;
    color: white;
    bottom: 0px;
    position: relative;
}

.footerCopyright {
    padding: 2px 0px;
    text-align: center;
    font-size: 0.8rem;
}

.file_font {
    font-size: 0.9rem;
    color: rgb(250, 146, 86);
    padding-left: 16%;
    word-break: break-all;
}

@media (max-width: 768px) {
    .file_font {
        font-size: 0.7rem;
        padding-left: 0 !important;
    }
}