/*--------- login css ---------*/

.loginBody {
    /* background-color: #81818156; */
    background: -moz-radial-gradient(circle, rgb(255, 255, 255), #f3f3f3);
    background: -webkit-radial-gradient(circle, rgb(255, 255, 255), #f3f3f3);
    background: -o-radial-gradient(circle, rgb(255, 255, 255), #f3f3f3);
    background: radial-gradient(circle, rgb(255, 255, 255), #f3f3f3);
    /* box-shadow :10px 0 0px 0px #d4d3d3; */
    width: 100%;
    min-height: 100%;
    /* font-family: 微軟正黑體, Arial, Helvetica, sans-serif; */
}

.webtitle{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #ffffff;
    padding-left: 8%;
}

.webicon {
    max-width: 140px;
    max-height: 140px;
    border-radius: 15px;
    display: inline-block;
}

.loginTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 120px 0px 30px 0px;
    color: rgb(22, 22, 22);
}

.little_title{
    font-size: 1.6rem;
    font-weight: bold;
    background: -moz-radial-gradient(circle, #f7f7f7, #d6d6d6);
    background: -webkit-radial-gradient(circle, #f7f7f7, #d6d6d6);
    background: -o-radial-gradient(circle, #f7f7f7, #d6d6d6);
    background: radial-gradient(circle, #314b92, #525fac);
    margin-bottom: 20px;
    color: #dddddd;
}

.loginBox {
    width: 420px;
    margin: 0px auto;
    background: #FFFFFF;
    box-shadow: 1px 1px 6px 1px rgb(155, 155, 155);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    margin-top: 100px;
}

.loginBox label {
    font-size: 1.1rem;
    padding: 0px 10px;
    font-weight: bold;
    color: #313338;
}

.loginBox input {
    border: 1.5px solid rgb(122, 122, 122);
    border-radius: 10px;
    padding: 4px;
    margin: 8px;
    width: 220px;
    height: 36px;
}

/* sidebar & content */

.menu {
    position: relative !important;
    display: inline-block !important;
    width: 200px !important;
    height: 100vh;
    transform: translateX(0);
    transition: all 0.1s;
}

.bar_btn {
    background-color: #ececec54;
    width: 28px;
    height: 28px;
    text-align: center;
    z-index: 100;
}

.active {
    transform: translateX(-200px);
}

#container {
    overflow: auto;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
    width: calc(100% - 200px);
    background-color: #eeeeee;
    word-wrap: break-word;
    height: 100%;
    display: inline-block !important;
    overflow: auto;
}

.minBodyHeight {
    color: rgb(37, 37, 37);
    min-width: 320px;
    min-height: 930px;
}

.navUserAccount {
    width: 80%;
    font-size: 0.8rem;
    padding: 5px;
    text-align: right;
    position: absolute;
    right: 5px;
    top: 5px;
}


/*--------- footer css ---------*/

footer {
    background-color: #4173ad;
    padding: 5px 0px;
    margin: 0px;
    color: white;
    bottom: 0px;
    position: relative;
}

.footerCopyright {
    padding: 2px 0px;
    text-align: center;
    font-size: 0.8rem;
}

.file_font {
    font-size: 0.9rem;
    color: rgb(250, 146, 86);
    padding-left: 16%;
    word-break: break-all;
}

@media (max-width: 768px) {
    .file_font {
        font-size: 0.7rem;
        padding-left: 0 !important;
    }
}